.title-label {
    -fx-font-family: "Arial";
    -fx-font-size: 22;
    -fx-font-weight: bold;
    -fx-padding: 10px;
    -fx-border-width: 0 0 2px 0;
    -fx-border-color: #AAAAAA;
}

.subtitle-label {
    -fx-font-family: "Arial";
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-padding: 20px 10px 5px 10px;
}

.textbox-label {
    -fx-font-family: "Arial";
    -fx-font-size: 14;
}
